# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# resources
/data

# dependencies
/node_modules
src/semantic/*
!src/semantic/src/
src/semantic/src/*
!src/semantic/src/theme.config
!src/semantic/src/site/

# production
/dist

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
