html, body, #App, #Map {
    width: 100%;
    height: 100%;
    margin: 0;
}

#Info .header, #Info .content {
    background: #9cb9db;
}

#Info .description > p, #Info .description > div {
    max-width: 550px;
}

#Dashboard {
    width: 500px;
    height: 510px;
    overflow-y: auto;
    background: #fff;
    border-radius: 5px;
    overflow-x: hidden;
}

.main-svg:nth-child(1) {
    margin-top: -45px;
    background: transparent !important;
}

.subplot.xy {
    transform: translate(0, -8px);
}
.xtick {
    transform: translate(0, 40px);
}

.box {
    fill-opacity: 0.5 !important;
}

.imagelayer image {
    transform: translate(0, -45px);
}

#Legend {
    width: 200px;
    background: #fff;
    border-radius: 5px;
    padding: 6px;
    max-height: 250px;
    overflow-y: auto;
    line-height: 1.2;
}

.legend-row .symbol {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    display: inline-flex;
    vertical-align: middle;
}